@model dynamic

@{
    ViewBag.Title = "Authorized";
}

<h2>Authorized</h2>

<div class="jumbotron">
    <h3>Contrats! You are authorised</h3>
    <p>
        This controller is not controlled by claims, only by <code>[Authorize]</code> attribute
    </p>
</div>