@model ClaimsAuth.Controllers.ClaimsIndexViewModel

@{
    ViewBag.Title = "List of Claims";
}

<h2>List of Claims</h2>

@foreach (var claim in Model.Claims)
{
    <h2>@claim.GroupName (id = @claim.GroupId)</h2>
    <ul class="list-inline">
        @foreach (var actionClaim in @claim.Claims)
        {
            <li>@actionClaim</li>
        }
    </ul>
}
