@using ClaimsAuth.Infrastructure.Helpers
@model ClaimsAuth.Controllers.UserRolesViewModel

@{
    ViewBag.Title = "Edit User Roles";
}

<h2>Edit User Roles</h2>

<p>Username : @Model.Username</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.UserId)
    
    @Html.CheckBoxListFor(m => m.SelectedRoles, Model.UserRoles)
    
    <input type="submit" value="Update"/>
}