@model ClaimsAuth.Controllers.UsersIndexViewIndex

@{
    ViewBag.Title = "List of users";
}

<h2>List of users</h2>


<table class="table">
    <thead>
        <tr>
            <td>UserName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @*@Html.ActionLink("Edit Claims", "EditClaims", new { id = user.Id }, new { @class = "btn btn-primary btn-xs" })*@
                    @Html.ActionLink("Edit Roles", "EditRoles", new { userId = user.Id }, new { @class = "btn btn-primary btn-xs" })
                </td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>